@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --primary-blue: hsl(223, 87%, 63%);
  --secondary-pale-blue: hsl(223, 100%, 88%);
  --secondary-light-red: hsl(354, 100%, 66%);
  --neutral-gray: hsl(0, 0%, 59%);
  --neutral-dark-blue: hsl(209, 33%, 12%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-container {
  margin-top: 6rem;
  width: 100%;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 7rem;
}
.heading {
  font-weight: 300;
  margin-top: 2.5rem;
  font-size: 2.2rem;
  color: var(--neutral-gray);
  text-align: center;
}
.heading span {
  font-weight: 700;
  color: var(--neutral-dark-blue);
}
.heading-paragraph {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.form {
  margin-top: 3rem;
}
.email-cont {
  text-align: center;
}
.email-input {
  display: block;
  width: 20rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 2rem;
  border: 1.3px solid var(--secondary-pale-blue);
  padding-left: 2.5rem;
  color: var(--neutral-dark-blue);
  font-size: 1.1rem;
}
.email-input::placeholder {
  color: var(--neutral-gray);
}
.email-input:focus {
  outline: 0;
  border: 2px solid var(--secondary-pale-blue);
}
.error-msg {
    display: none;
  margin-top: 0.3rem;
  color: var(--secondary-light-red);
  font-size: 0.8rem;
  margin-bottom: 1.8rem;
  font-style: italic;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 20rem;
  height: 3rem;
  border-radius: 2rem;
  background: var(--primary-blue);
  border: 0;
  color: white;
  outline: 0;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 3px 4px 5px -2px rgba(79, 125, 243, 0.58);
  -webkit-box-shadow: 3px 4px 5px -2px rgba(79, 125, 243, 0.58);
  -moz-box-shadow: 3px 4px 5px -2px rgba(79, 125, 243, 0.58);
}
.submit-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.submit-btn:active {
  opacity: 0.8;
}
.illustration {
  display: block;
  margin-top: 5rem;
  width: 95%;
}
.social {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.social ul {
  margin: 0 auto;
}
.social ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 0.5rem;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--secondary-pale-blue);
  border-radius: 100%;
  text-decoration: none;
  color: var(--primary-blue);
  font-size: 1.5rem;
}
.social a:hover {
  background: var(--primary-blue);
  color: white;
  transition: all 200ms;
}
.copyright {
  color: var(--neutral-gray);
  margin: 3rem;
}
@media screen and (min-width: 800px) {
  .heading {
    font-size: 3rem;
  }
  .form {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  .illustration {
    width: 70%;
  }
  .email-input {
    width: 25rem;
    height: 3.5rem;
  }
  .submit-btn {
    margin-top: 0;
    margin-left: 1rem;
    height: 3.2rem;
    width: 12.5rem;
  }
}
